<div class="container mt-3">
	<table id="cart" class="table table-hover table-sm">
		<thead>
			<tr>
				<th style="width:50%">Product</th>
				<th style="width:10%">Price</th>
				<th style="width:8%">Quantity</th>
				<th style="width:22%" class="text-center">Subtotal</th>
				<th style="width:10%"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let Product of products">
				<td data-th="Product">
					<div class="row">
						<div class="col-sm-2 d-none d-sm-block">
							<img src="{{Product.image}}" alt="..." class="img-responsive" style="height: 100px;
							width: 100px;"/>
						</div>
						<div name="tekstas" id="tekstas" class="col-sm-10" style="padding-left: 10%;">
							<h4 class="m-0">{{Product.Name}}</h4>
							<p>{{Product.Description}}</p>
						</div>
					</div>
				</td>
				<td data-th="Price">{{Product.Price}}</td>
				<td data-th="Quantity">
					<input type="number" min='1' [(ngModel)]="Product.Quantity" (ngModelChange)="this.prod.countPrice()" class="form-control text-center"
					/>
				</td>
				<td data-th="Subtotal" class="text-center" >{{(Product.Price*Product.Quantity).toFixed(2)}}</td>
				<td class="actions" data-th="">
					<button class="btn btn-danger btn-sm" (click)="delete(Product)">
						<i class="fa fa-trash-o"></i>
					</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr class="d-block d-sm-none">
				<td class="text-center">
					<strong>Total {{this.prod.price}}</strong>
				</td>
			</tr>
			<tr>
				<td>
					<a (click)="this.prod.leaving(this.products)" [routerLink]="['../']" class="btn btn-warning">
						<i class="fa fa-angle-left"></i> Continue Shopping</a>
				</td>
				<td colspan="2" class="d-none d-sm-table-cell"></td>
				<td class="text-center d-none d-sm-table-cell">
					<strong>Total ${{this.prod.price}}</strong>
				</td>
				<td>
					<h2 *ngIf="paypalLoad">Paypal button is loading</h2>
<div id="paypal-checkout-btn"></div>
				</td>
			</tr>
		</tfoot>
	</table>

</div>