<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-9">
      <div class="col-lg-4 col-md-6 mb-4 d-inline-block" style="height: 426px!important;" *ngFor="let product of products | async | category: categorysort.category | 
      paginate: {itemsPerPage: 9, currentPage: p}; let ind = index">
        <div class="card h-100">
          <a (click)="open(modal, ind, image)">
            <img class="card-img-top" style="height: 200px;width: 200px" src="{{product.Image}}" alt="">
          </a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{product.Name}}</a>
            </h4>
            <h5>{{product.Price}}€</h5>
            <p class="card-text">{{product.Description}}</p>
          </div>
          <button class="btn btn-primary" (click)="putProduct(product)">BUY</button>
          <div class="card-footer">

          </div>
        </div>
      </div>
      <pagination-controls class="col-lg-4 col-md-6 mb-4" style="text-align: center" (pageChange)="p = $event"></pagination-controls>

    </div>
  </div>
</div>
<!--TODO
<ng-template #modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Employee inventory details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--<div class="modal-body">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of employeeInventory$ | async; let ind = index;">
                    <th>{{ind+1}}</th>
                    <th>{{e.name}}</th>
                </tr>
            </tbody>
        </table>
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
  </div>
</ng-template>-->