<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <a class="navbar-brand" routerLink="">
    <img src="img/Untitled-1.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mx-sm-2" type="text" placeholder="Paieška" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
        <span class="fa fa-search"></span>
      </button>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-3">
        <a class="nav-link" href="#">
          <span class="fa fa-percent"></span> Akcijos</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" [routerLink]="['../login']" target="_self">
          <span class="fa fa-user"></span> Mano Paskyra</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" [routerLink]="['../cart']">
          <span class="fa fa-shopping-cart"> Krepšelis
            <span class="badge" *ngFor="let c of (products | async); let i = index">{{i+1}}</span>
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>